@import url(style.css);

body{
    font-family: helvetica;
}

body h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
body p{
    margin-top: 15px;
}

div.container{
    width: 70%;
    border: 4px black solid;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
div.container h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
div.container h2{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
div.container h3{
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

div.container ul{
    padding-left: 55px;
    font-size: 14px;
}

div.container p{
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
}